ul {
    list-style: none;
}

.child-ul {
    position: relative;
    border: 1px solid red;
}
.child-ul a {
    text-decoration: none;
    color: brown;
}
.child-ul li {
    border: 1px solid blue;
    height: 30px;
}

#parent-ul > li {
    border: 1px solid black;
    float: left;
    height: 200px;
    margin-right: 10px;
    padding: 10px;
}