#container {
    margin: auto 10px;
}
.box-shape {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 50px;
    display: inline-block;
}
.imgbox {
    background-image: url("..\\images\\plants.jpeg");
    background-size: cover;
}
.scale-x:hover {
    transform: scaleX(2);
}
.scale-y:hover {
    transform: scaleY(1.5);
}

#sleep {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    background-image: url("..\\images\\sleep.png");
    background-size: cover;
    position: relative;
}
#cover {
    border: 1px solid grey;
    position: absolute;
    bottom: 13%;
    left: 16%;
}
#cover:hover {
    transform: scale(2.5, 2.5);
}
#sleep:after {
    content: "이불 좀 덮어줘!";
    position: absolute;
    right: -50%;
}
