/*
버그: 상자 위로 마우스 커서를 올려두면 어떤 곳에서는 
그 상자가 계속 두 지점을 빠르게 왕복하는 버그가 있음.
*/

.card {
    border: 2px solid black;
    width: 110px;
    height: 170px;
    float: left;
    margin: 70px;
}
.three-g {
    background-image: url("..\\images\\3gwang.png");
    background-size: cover;
}
.eight-g {
    background-image: url("..\\images\\8gwang.png");
    background-size: cover;
}
.cover {
    background-color: red;
    background-size: cover;
    margin: 0px;
}
#goto-x:hover {
    transform: translateX(50px);
}
#goto-y:hover {
    transform: translateY(70px);
}