#container {
    border: 1px solid black;
    margin: 20px;
}
h1 {
    text-align: center;
}
#navi {
    list-style: none;
    display: flex;
    justify-content: center;
}
#navi li {
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
}
#navi a {
    text-decoration: none;
    color: black;
}